@import url(./fonts.css);


* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.Shkyaps {
    background: url(../img/BG.png), no-repeat;
    background-size: cover;
    background-position: center;
    height: 1107px;
    position: relative;
}

.Shkyaps .rombiki img {
    position: absolute;
    width: 400px;
}

.Shkyaps .container .mobila {
    display: none;
}

.Shkyaps .container .doroga {
    display: flex;
    justify-content: center;
}

.Shkyaps .container .doroga a {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    color: #F87932;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FFFFFF;
    letter-spacing: 5px;

}

.Shkyaps .container .doroga a:nth-child(1) {
    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    height: 60px;
}

.Shkyaps .container .doroga a:nth-child(2) {

    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    height: 60px;
}

.Shkyaps .container .doroga a:nth-child(3) {

    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 110px;
}

.Shkyaps .container .doroga a:nth-child(3):hover {
    background-color: #FFFFFF;
}

.Shkyaps .container .doroga a:nth-child(4) {

    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    height: 60px;
}

.Shkyaps .container .doroga a:nth-child(5) {

    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    height: 60px;
}

.Shkyaps .container .Traveling {
    display: flex;
    margin-top: 170px;
}

.Shkyaps .container .Traveling .trav {
    font-family: 'Merriweather';
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    color: #F87932;
    margin-bottom: 70px;
}

.Shkyaps .container .Traveling .trav .green {
    color: #39BFA7;
}

.Shkyaps .container .Traveling .Cyprus .TRIP {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
}

.Shkyaps .container .Traveling .Cyprus2 .img1 {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(80px, -160px);

}


.people {
    margin-bottom: 50px;
}

.people .container {
    display: flex;
    position: relative;
}

.people .container .Cyprus .putishestvie {
    width: 800px;
    height: 650px;
    background: url(../img/путь.png) no-repeat;
    padding-top: 180px;
    position: absolute;
    transform: translate(-170px, -110px);
    z-index: -1;

}

.people .container .Cyprus .enjoy {
    font-size: 'Lato';
    font-weight: 500;
    font-size: 17px;
    color: #666666;
    letter-spacing: 5px;
    margin: 0;
    margin-top: 50px;

}

.people .container .Cyprus .Unforgettable {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 60px;
    color: #504f4f;
    margin: 0;
    margin-bottom: 30px;
}

.people .container .Cyprus .dedicated {
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 5px;
    margin-bottom: 170px;
}

.people .container .Cyprus .TRIP {
    width: 213px;
    height: 62px;
    border: 1px solid #222222;
    background-color: white;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 10px;
    margin-top: 30px;
}

.people .container .Cyprus2 .img2 {
    width: 331px;
    height: 332px;
    background-size: contain;
    margin-top: 130px;
    margin-left: 55px;



}

.people .container .Cyprus2 {
    display: flex;
    position: relative;
}

.people .container .Cyprus2 .img3 {

    width: 365px;
    height: 456px;
    background-size: contain;
    position: absolute;
    transform: translate(280px, 25px);
}






.Enough {
    background: url(../img/11.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 1110px;

}

.Enough .container {
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Enough .container .En {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;
    align-self: center;
    text-align: center;
}

.Enough .container .most {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    letter-spacing: 5px;
    margin-bottom: 120px;
    align-self: center;

}

.Enough .container .play {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #F87932;
    border: 1px solid #F87932;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-bottom: 5px;
}

.Enough .container .play svg {
    transform: rotate(-45deg);

}

.Enough .container .Happy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    margin-top: 1020px;
}

.Enough .container .Happy1 {
    display: flex;

}

.Enough .container .Happy2 {
    display: flex;

}

.Enough .container .romb1 .mini1 {
    transform: translate(40px, -165px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Enough .container .romb2 {
    margin-left: 105px;
}

.Enough {
    margin-bottom: 200px;
}





.instaagram .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instaagram .container .instaagram{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 48px;
    color: #222222;
    spisok-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.instaagram .container .most{
    font-family: 'Mon';
    font-weight: 600;
    font-size: 32px;
    color: #444444;
    spisok-align: center;
    margin-bottom: 20px;
}
.instaagram .container .articles{
    font-family: 'Lat';
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    spisok-align: center;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.instaagram .container .pkohogp .ph{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
}
.instaagram .container .pkohogp .ph .spisok{
    font-family: 'Mer';
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0;
    opacity: 0;
}

.instaagram .container .pkohogp .ph .arrow a{
    color: #FFFFFF;
    font-size: 24px;
    spisok-decoration: none;
    opacity: 0;

}

.instaagram .container .pkohogp .Cyprus .ph1{
   width: 282px;
   height: 584px;
   background: url(../img/13.png);
   background-position: center;
}
.instaagram .container .pkohogp .Cyprus .ph2{
    width: 282px;
    height: 282px;
    background: url(../img/14.png);
    background-position: center;
    
}
.instaagram .container .pkohogp .Cyprus .ph3{
    width: 282px;
    height: 282px;
    background: url(../img/15.png);
    background-position: center;
    
}
.instaagram .container .pkohogp .Cyprus{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 282px 282px;
    grid-template-rows: 282px 282px;
    
}
.instaagram .container .pkohogp .Cyprus .ph1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.instaagram .container .pkohogp .Cyprus .ph2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.instaagram .container .pkohogp .Cyprus .ph3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.instaagram .container .pkohogp{
    display: flex;

}
.instaagram .container .pkohogp .Cyprus{
    margin-right: 10px;
}
.instaagram .container .pkohogp .Cyprus2{
    margin-left: 10px;
}
.instaagram .container .pkohogp .Cyprus2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 282px 282px;
    grid-template-rows: 282px 282px;
}
.instaagram .container .pkohogp .Cyprus2 .ph4{
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.instaagram .container .pkohogp .Cyprus2 .ph4{
    width: 584px;
    height: 282px;
    background: url(../img/16.png);
    background-position: center;
}
.instaagram .container .pkohogp .Cyprus2 .ph5{
    width: 282px;
    height: 282px;
    background: url(../img/17.png);
    background-position: center;
}
.instaagram .container .pkohogp .Cyprus2 .ph6{
    width: 282px;
    height: 282px;
    background: url(../img/18.png);
    background-position: center;
    
}
.instaagram .container .GO{
    width: 206px;
    height: 62px;
    font-family: 'Lat';
    font-weight: 700;
    font-size: 20px;
    color: #222222;
    border: 1px solid #222222;
    letter-spacing: 5px;
    padding-left: 10px;
    background: white;
    margin-top: 50px;
    transition: .5s;
}

.instaagram{
    margin-bottom: 70px;
}








.Whemostr {
    background: url(../img/дорога\ дальняя\ .jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;


}

.Whemostr .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFFF;
}

.Whemostr .container .dedicated {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Whemostr .container .UK {
    width: 157px;
    height: 23px;
    background: url(../img/20.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.Whemostr .container .wel {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #EEEEEE;
    align-self: center;
    margin-bottom: 40px;
    letter-spacing: 0.2em;
    text-align: center;
}

.Whemostr .container .points {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.Whemostr .container .points .up {
    font-family: 'SedgwickAve';
    font-size: 60px;
    font-weight: 400;
    color: #39BFA7;
    content: '\f109';
}

.Whemostr .container .points .Historical {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.Whemostr .container .points .Historical .nmb {
    font-family: "SedgwickAve";
    font-size: 80px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    margin-right: 10px;
}

.Whemostr .container .points .Historical .data .mounth {
    font-family: 'SedgwickAve';
    font-weight: 400;
    font-size: 28px;
    color: #969696;
    margin: 0;
}

.Whemostr .container .points .Historical .data .name {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 40px;
    color: #DDDDDD;
    margin: 0;

}

.Whemostr .container .TRIP {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 10px;
    width: 213px;
    height: 62px;
    border: none;
    background-color: #F87932;
    margin-top: 30px;
    margin-bottom: 30px;
}



.form {
    padding-top: 100px;
    background-color: #1b242b;

}

.form .container {
    display: flex;
    flex-direction: column;
}

.form .container .join {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    align-self: center;
    margin-bottom: 20px;
}

.form .container .w100 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form .container .UK {
    width: 157px;
    height: 19px;
    background: url(../img/21.png);
}

.form .container .call {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    word-spacing: 10px;
    align-self: center;
    margin: 0;
}

.form .container label {
    font-family: 'Merriweather';
    font-weight: 700;
    color: #ffffff;
    position: relative;
    left: 400px;


}

.form .container input {
    border: 1px solid #000000;
    width: 500px;
    position: relative;
    position: relative;
    left: 400px;

}

.form .container .dropdown {
    margin-bottom: 20px;
    margin-top: 10px;

}

.form .container .dropdown button {
    background-color: #F87932;
    border: none;
}

.form .container .marg {
    margin-top: 20px;
}

.form .container .rad {
    border-radius: 8px;
    height: 35px;
}

.form .container .cen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .container .Get {
    margin-top: 30px;
    font-family: 'Lat';
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    word-spacing: 5px;
    padding-left: 10px;
    width: 180px;
    height: 52px;
    border: none;
    background-color: #ffffff;
    margin-bottom: 100px;
    position: relative;
    left: 550px;
}




.conets {
    background-color: #151C21;
    padding-top: 50px;
    padding-bottom: 50px;
}

.conets .container {
    display: flex;
    flex-direction: column;
}

.conets .container .Cyprus {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}

.conets .container .Cyprus .rights {
    width: 77px;
    height: 142px;
    background-size: cover;
}

.conets .container .Cyprus .centerber {
    display: flex;
    flex-direction: column;
}

.conets .container .Cyprus .email {
    display: flex;
    flex-direction: column;
}

.conets .container .Cyprus .office {
    display: flex;
    flex-direction: column;
}

.conets .container .Cyprus .center {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.conets .container .Cyprus .mobila {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
}

.conets .container .linia {
    width: 100%;
    height: 2px;
    background-color: #666666;
}

.conets .container .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.conets .container .reserved {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #BBBBBB;
    margin: 0;
    margin-bottom: 5px;
}

.conets .container .privet {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    margin-bottom: 20px;
    margin-top: 0;
}

.conets .container .info .imgishka {
    display: flex;
}

.conets .container .info .imgishka img {
    margin-right: 10px;
    margin-left: 10px;
}





/*Адаптив*/

@media screen and (max-width: 480px) {
    .container {
        width: 320px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .Shkyaps {
        height: 690px;
    }

    .Shkyaps .container .doroga a {
        font-size: 12px;
        width: 140px;
        height: 30px;
        padding-top: 7px;

    }

    .Shkyaps .container .doroga {
        display:none
    }

    img, svg {
        vertical-align: middle;
        width: 185px;
        margin-left: -242px;
        margin-top: 526px;
    }
    .Shkyaps {
        height: 648px;
        margin-top: -169px;
    }

    .Shkyaps .container .Traveling .trav {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 93px;
        margin-top: 126px;
    }

    .Shkyaps .container .Traveling .Cyprus .TRIP {
        font-weight: 700;
        font-size: 11px;
        width: 119px;
        height: 38px;
        letter-spacing: 2px;
        margin-top: -26px;
    }
    .Shkyaps .container .Traveling .Cyprus2 .img1 {
        position: absolute;
        width: 400px;
        height: 400px;
        transform: translate(80px, -160px);
    }
    .Shkyaps .rombiki img {
        display: none;
    }
    .people .container .Cyprus .Unforgettable {
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 32px;
        color: #504f4f;
        margin: 0;
        margin-bottom: 30px;
        align-content: center;
        margin-left: 46px;
        text-align: center;
        margin-top: 23px;
    }
    .people .container .Cyprus .enjoy {
        font-size: 'Lato';
        font-weight: 500;
        font-size: 11px;
        color: #666666;
        letter-spacing: 5px;
        margin: 0;
        margin-top: 40px;
        margin-left: 94px;
    }
    .people .container .Cyprus .dedicated {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 5px;
        margin-bottom: 171px;
        margin-left: 40px;
        text-align: center;
        margin-top: 135px;
    }
    .people .container .Cyprus2 .img2 {
        width: 331px;
        height: 332px;
        background-size: contain;
        margin-top: -300px;
        margin-left: 55px;
        display: none;
    }
    
    .people .container .Cyprus2 .img3 {
        width: 365px;
        height: 439px;
        background-size: contain;
        position: absolute;
        transform: translate(194px, -335px);
        display: none;
    }

    .people .container .Cyprus .TRIP {
        width: 187px;
        height: 50px;
        border: 1px solid #222222;
        background-color: white;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 3px;
        padding-left: 10px;
        margin-top: -15px;
        margin-left: 17px;
    }
    .Enough {
        background: url(../img/60.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 566px;
        width: 319px;
    }
    .Enough .container .En {
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 900;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 10px;
        align-self: center;
        text-align: center;
        margin-top: -247px;
    }
    .Enough .container .most {
        font-family: 'Lato';
        font-weight: 700;
        color: #FFFFFF;
        font-size: 9px;
        margin: 0;
        letter-spacing: 8px;
        margin-bottom: 120px;
        align-self: center;
        margin-top: 10px;
        margin-left: 13px;
        text-align: center;
    }
    .instaagram .container .instaagram {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 23px;
        color: #222222;
        align-self: center;
        margin: 0;
        margin-bottom: 20px;
        margin-top: -105px;
    }

    .instaagram .container .most {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 17px;
        color: #444444;
        align-self: center;
        margin-bottom: 20px;
        margin-top: -11px;
        margin-left: -2px;
    }
    .instaagram .container .articles {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 12px;
        color: #666666;
        align-self: center;
        letter-spacing: 5px;
        margin-bottom: 30px;
        margin-left: -4px;
        text-align: center;
    }

    .Enough .container {
        padding-top: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .instaagram .container .pkohogp {
        display: flex;
        display: block;
    }

    .instaagram .container .pkohogp .Cyprus .ph1 {
        width: 284px;
        height: 473px;
        background: url(../img/13.png);
        background-position: center;
    }
    .instaagram .container .pkohogp .Cyprus .ph2 {
        width: 150px;
        height: 207px;
        background: url(../img/14.png);
        background-position: center;
    }
    .instaagram .container .pkohogp .Cyprus .ph3 {
        width: 149px;
        height: 245px;
        background: url(../img/15.png);
        background-position: center;
        margin-top: -75px;
    }
    .instaagram .container .pkohogp .Cyprus2 .ph4 {
        width: 441px;
        height: 275px;
        background: url(../img/16.png);
        background-position: center;
        margin-top: -96px;
    }
    .instaagram .container .pkohogp .Cyprus2 .ph5 {
        width: 287px;
        height: 210px;
        background: url(../img/17.png);
        background-position: center;
        margin-top: -107px;
    }
    .instaagram .container .pkohogp .Cyprus2 .ph6 {
        width: 139px;
        height: 211px;
        background: url(../img/18.png);
        background-position: center;
        margin-top: -106px;
    }
    .instaagram .container .GO {
        width: 201px;
        height: 62px;
        font-family: 'Lat';
        font-weight: 700;
        font-size: 18px;
        color: #222222;
        border: 1px solid #222222;
        letter-spacing: 5px;
        padding-left: 10px;
        background: white;
        margin-top: 50px;
        transition: .5s;
        margin-top: -120px;
    }
    .Whemostr .container .dedicated {
        font-size: 31px;
        align-self: center;
    }
    .Whemostr .container .wel {
        font-size: 9px;
    }
    .Whemostr .container .points{
        display: flex;
        flex-direction: column ;
        align-items: center ;
    }
    .Whemostr .container .points .up {
        font-size: 35px;
        text-align: center;
    }
    .Whemostr .container .points .Upcoming .nmb {
        font-size: 42px;
    }
    .Whemostr .container .points .Upcoming .mounth{
        font-size: 14px ;
    }
    .Whemostr .container .points .Upcoming .name {
        font-size: 15px !important;
    }

    .Whemostr .container .TRIP{
        font-size: 14px !important;
        width: 120px !important; 
    }
    .Whemostr .container .points .Historical .data .mounth {
        font-family: 'SedgwickAve';
        font-weight: 400;
        font-size: 20px;
        color: #969696;
        margin: 0;
    }
    .Whemostr .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid #FFFFFF;
    }

    .container {
        width: 295px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Whemostr .container .TRIP {
        font-size: 14px !important;
        width: 135px !important;
        height: 40px;
    }
    .form .container .join {
        font-family: 'Merriweather';
        font-size: 28px;
        font-weight: 900;
        color: #ffffff;
        margin: 0;
        align-self: center;
        margin-bottom: 14px;
        margin-top: -51px;
    }
    .form .container .call {
        font-family: 'Lato';
        font-size: 15px;
    }
    .form .container input {
        border: 1px solid #000000;
        width: 282px;
        position: relative;
        position: relative;
        left: 5px;
    }
    .form .container label {
        font-family: 'Merriweather';
        font-weight: 700;
        color: #ffffff;
        position: relative;
        left: 10px;
        font-size: 10px;
    }
    .form .container .Get {
        margin-top: 30px;
        font-family: 'Lat';
        font-size: 20px;
        font-weight: 700;
        color: #000000;
        word-spacing: 3px;
        padding-left: 10px;
        width: 179px;
        height: 43px;
        border: none;
        background-color: #ffffff;
        margin-bottom: 100px;
        position: relative;
        left: 56px;
    }
    .conets .container .Cyprus {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
        align-items: center;
        align-content: stretch;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        margin-left: 144px;
    }
    .conets .container .Cyprus .center {
        margin: 0;
        margin-bottom: 11px;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 17px;
        color: #FFFFFF;
        margin-left: 1px;
    }

    .conets .container .Cyprus .mobila {
        margin: 0;
        color: #FFFFFF;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 13px;
    }
    .conets .container .info .imgishka img {
        margin-right: 9px;
        margin-left: 10px;
        width: 20px;
        margin-top: 40px;
    }
    .conets .container .reserved {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 13px;
    }
    .conets .container .privet {
        font-family: 'Lato';
        font-size: 13px;
    }
    .conets .container.Cyprus.LOVE {
        display: none;
    }
    
    .Enough .container .romb1 .mini1{
        display: none;
    }
    .Enough .container img{
        display: none;
    }
}
    

    


