*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    margin: 0 auto;
    height: 1100px;
    padding: 0;
    background: url(../img/BG1.png);
    overflow-x: hidden;
    background-size: 100%;
    
    
  
}
.container{
    
    width: 1200px;
    margin: 0 auto;

}
